* {
  margin: 0;
}
.reaction-modal .modal-dialog {
  position: absolute;
  top: 100px;
  right: 100px;
}

.reaction-modal .modal-content {
  border: none;
  background-color: transparent;
}
.reactions {
   margin-top: 20px;
}
.reactions .reactions-counter {
   display: flex;
   flex-wrap: wrap;
}
.reactions .emoji-mart {
   z-index: 999;
}
